body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: linear-gradient(145deg, #E6B2BA, #C599B6);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: fixed;
    height: 50px;
    width: 95%;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}
.logo {
    font-size: 40px;
    font-weight: bold;
    color: #F1E3EE;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-left: 20%;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    margin: 15px;
    margin-top: 30px;
}
nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #F1E3EE;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 8px;
    transition: all 0.3s ease;
}
nav ul li a:hover {
    background-color: #E6B2BA;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
.language-selector {
    position: relative;
    display: inline-block;
    float: right;
    
}

.selected-language {
    background: none;
    border: 1px solid #ccc;
    padding: 8px 12px;
    cursor: pointer;
}

.language-list {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background: white;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 100%;
}

.language-list li a{
   
    text-align: center;
    cursor: pointer;
    color: #2C3E50;
}

.language-list li a:hover {
    background: #f0f0f0;
}

.language-selector:hover .language-list {
    display: block;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #EEF1FF, #FFF7F3); /* Soft pastel gradient */
    color: #2C3E50; /* Koyu gri metin rengi */
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1); /* Hafif gölgeleme */
    border-radius: 10px;
}

/* Hero content düzeni */
.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

/* Metin bölümü */
.hero-text {
    margin-top: 0px;
    flex: 1;
    padding: 0px;
}

.hero-text h1 {
    color: #987D9A;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Hafif metin gölgesi */
}

.hero-text p {
    text-align: justify;
    margin: 15%;
    margin-bottom: 2%;
    font-size: 1.5rem;
    margin-top: 0px;
    line-height: 1.5;
    color: #666; /* Daha açık metin rengi */
}

.ben_foto{
    background-color: #2C3E50;
    width: 70%;
    height: 300%;
    margin-left: 150px
}
.benfoto{
    height: 100%;
    width: 100%;
    border-radius: 50px;
}
.mak-tek{
    height: 100%;
    width: 100%;
}



.hero-photo {
    
    height: 630px;
    width: 500px;
    background-color: #34495E;  /* Siyah yerine koyu gri */
    border-radius: 50px;
}

/* Hakkımda Bölümü */
.about-section {
    background: #ffffff; /* Beyaz arka plan */
    padding: 80px 15%;
    text-align: center;
}

.about-container {
    max-width: 900px;
    margin: auto;
    padding: 40px;
    text-align: left;
}

/* Gradient başlık */
.about-title {
    font-size: 4rem;
    font-weight: bold;
    background: linear-gradient(135deg, #C599B6, #FAD0C4); /* Gradient renk */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    margin-bottom: 20px;
}

/* Paragraflar */
.about-text {
    font-size: 1.5rem;
    line-height: 1.8;
    color: #666; /* Gri tonlarında sade görünüm */
}

/* Paragraflar arası boşluk */
.about-text p {
    margin-bottom: 15px;
}

.cv-button-container {
    text-align: center;
    margin-top: 30px;
}

.cv-button {
    background: linear-gradient(135deg, #C599B6, #FAD0C4); /* Gradient renkler */
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 12px 30px;
    border-radius: 30px; /* Yumuşak kenarlar */
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Hover efekti */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); /* Hafif gölge */
}

.cv-button:hover {
    transform: translateY(-5px); /* Hoverda buton yukarı hareket eder */
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2); /* Hoverda daha fazla gölge */
}

.cv-button:active {
    transform: translateY(2px); /* Butona basıldığında küçük bir basma efekti */
}


.services {
    padding: 40px 20px;
    background-color: #fff;
    text-align: center;
}

.services h1 {
    font-size: 4rem;
    font-weight: bold;
    background: linear-gradient(135deg, #C599B6, #FAD0C4); /* Gradient renk */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    margin-bottom: 20px;
    
}

.service-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.service-item {
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 20px;
    width: 40%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.service-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.service-item h3 {
    font-size: 2rem;
    color: #987D9A;
    margin-bottom: 15px;
}

.service-item p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: #666; 
    margin-left: 5%;
    margin-top: 10%;
}




.portfolio-section{
    margin-top: 100px;
}


.portfolio-section{
    height: 70%;
}

.portfolio-item{
    background-color: #ffffff;
    height: 830px;
    margin: 50px;
    display: flex;
    border-radius: 50px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
}

.port-foto{
    height:300px;
    width: 400px;
    background-color: #ffffff;
    margin: 30px;
    border-radius: 50px;
}

.vuslat1{
    width: 100%;
    height: 50%;
    border-radius: 50px;
}
.vuslat2{
    width: 100%;
    height: 50%;
    border-radius: 50px;
}

.port-text{
    height: 93%;
    width: 60%;
    background-color: #fff;
    margin: 30px;
    margin-left: 0px;
    border-radius: 50px;
}

.port-text img{
   
    height: 100%;
    border-radius: 50px;
}

    
.portfolio-section h1{
    font-size: 4rem;
    font-weight: bold;
    background: linear-gradient(135deg, #C599B6, #FAD0C4); /* Gradient renk */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 25%;
}

.portfolio-section h2{
    font-size: 3rem;
    font-weight: bold;
    background: linear-gradient(135deg, #C599B6, #FAD0C4); /* Gradient renk */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-top: 10%;
    
}

.port-text p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: #ffffff; 
    margin-left: 5%;
    margin-top: 10%;
}

.model3d{
    align-items: center;
    display: flex;
    margin-left: 45%;
    margin-top: 10%;
}
.button3d{
    background: linear-gradient(135deg, #C599B6, #FAD0C4); /* Gradient renkler */
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 12px 30px;
    border-radius: 30px; /* Yumuşak kenarlar */
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Hover efekti */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); /* Hafif gölge */
}

.button3d:hover {
    transform: translateY(-5px); /* Hoverda buton yukarı hareket eder */
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2); /* Hoverda daha fazla gölge */
}

.button3d:active {
    transform: translateY(2px); /* Butona basıldığında küçük bir basma efekti */
}





.contact {
    padding: 40px 20px;
    background-color: #fff;
    text-align: center;
}

.contact h2 {
    font-size: 4rem;
    font-weight: bold;
    background: linear-gradient(135deg, #C599B6, #FAD0C4); /* Gradient renk */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    margin-bottom: 20px;
  
}

.contact p {
    font-size: 1.5rem;
    color: #666;
    margin-bottom: 30px;
}

.contact-info {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.contact-method h3 {
    font-size: 2rem;
    font-weight: bold;
    background: linear-gradient(135deg, #C599B6, #FAD0C4); /* Gradient renk */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    margin-bottom: 10px;
}

.contact-method a {
    font-size: 1rem;
    color: #987D9A;
    text-decoration: none;
    font-weight: bold;
}

.contact-method a:hover {
    text-decoration: underline;
}





/* Responsive Tasarım */
@media (max-width: 768px) {
        body{
            width: 100%;
        }
        /* Navbar düzenlemeleri */
            header {
            padding: 10px 10px;
            height: auto;
            position: static;
            top: 0;
            left: 0;
            transform: none;
        }
        
        .logo {
            font-size: 30px;
            margin-left: 10%;
        }
    
        nav ul {
            flex-direction: column;
            margin-left: 0;
        }
        
        nav ul li {
            margin: 0px;
        }
        
        nav ul li a {
            font-size: 16px;
            padding: 8px 12px;
            display: block;
            text-align: center;
        }
        
        /* Hero bölümünde düzenlemeler */
        .hero {
            height: auto;
            padding: 20px;
        }
    
        .hero-content {
            flex-direction: column-reverse;
            justify-content: center;
            text-align: center;
        }
    
        .hero-text h1 {
            font-size: 3rem;
        }
    
        .hero-text p {
            font-size: 1.2rem;
            margin: 10%;
            margin-left: 1%;
            margin-right: 1%;
        }
    
        .ben_foto {
            width: 300px;
            height: 200px;
            margin: 20px;
            
        
        }
        .hero-photo {
    
            height: 400px;
            width: 300px;
            background-color: #34495E;  /* Siyah yerine koyu gri */
            border-radius: 50px;
        }
    
        .benfoto {
            height: 100%;
            width: 100%;
            border-radius: 50px;
        }
    
        /* Hakkımda bölümünde düzenlemeler */
        .about-section {
            padding: 50px 10px;
        }
    
        .about-container {
            max-width: 100%;
        }
    
        .about-title {
            font-size: 2.5rem;
        }
    
        .about-text {
            font-size: 1.2rem;
            margin-bottom: 10px;
        }
    
        .cv-button {
            padding: 10px 25px;
        }
    
        /* Hizmetler bölümünde düzenlemeler */
        .services {
            padding: 30px 10px;
        }
    
        .service-list {
            flex-direction: column;
            gap: 20px;
        }
    
        .service-item {
            width: 100%;
            padding: 15px;
        }
    
        .service-item h3 {
            font-size: 1.8rem;
        }
    
        .service-item p {
            font-size: 1.2rem;
            margin-top: 5%;
        }
    
        /* Portföy bölümünde düzenlemeler */
        .portfolio-section {
            margin-top: 50px;
            height: auto;
        }

       
        .portfolio-item {
            flex-direction: column;
            width: 100%;
            margin: 30px 0;
            height: auto;
        }

        .portfolio-section h2 {
            font-size: 25px;
        }
    
        .port-foto {
            width: 100%;
            height: 500px;
            margin: 0;
        }
    
        .port-text {
            width: 90%;
            margin: 20px 2px;
            padding: 20px;
        }

        .port-text img{
   
            width: 100%;
            border-radius: 50px;
        }

    
        .portfolio-section h1 {
            font-size: 2.5rem;
            margin-left: 0;
        }
    
        .port-text h2 {
            font-size: 2rem;
            margin-left: 0;
        }
    
        .port-text p {
            font-size: 1.2rem;
            margin-left: 0;
            margin-top: 5%;
        }
    
        /* Model 3D butonunun düzenlenmesi */
        .model3d {
            margin-left: 0;
            margin-top: 20px;
        }
    
        /* İletişim bölümünde düzenlemeler */
        .contact {
            padding: 30px 10px;
        }
    
        .contact h2 {
            font-size: 2.5rem;
        }
    
        .contact p {
            font-size: 1.2rem;
            margin-bottom: 20px;
        }
    
        .contact-info {
            flex-direction: column;
            gap: 20px;
        }
    
        .contact-method h3 {
            font-size: 1.5rem;
        }
    
        .contact-method a {
            font-size: 1.1rem;
        }
    }
